{% extends 'base.html' %}
{% block title %}Meal Home{% endblock %}
{% block content %}

<div style="display: grid; grid-template-columns: auto auto auto auto; align-items: center; justify-content: space-around; gap: 1rem;" class="mt-5">
    {% for d in categories %}
    <div class="card" style="width: 30rem;">
        <img src="{{ d.strCategoryThumb }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ d.strCategory }}</h5>
            <p class="card-text">{{ d.strCategoryDescription | truncatechars:10 }}</p>
            <a href="#" class="btn btn-primary">Learn More</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}