{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static '/css/aboutstyle.css' %}">
{% endblock %}
{% block content %}
<div id="headdiv">
    <h1>About Us</h1>
</div>

<div class="about">
    <p>
        Welcome to Mid Restaurant!
        <br><br>
        At Mid Restaurant, we believe that dining isn't just about food – it's an experience. Nestled in the heart of
        Dhaka,
        Mid Restaurant is more than just a place to eat; it's a culinary journey that celebrates flavors, craftsmanship,
        and community.
        <br><br>
        Our Story:
        <br>
        Founded by passionate food enthusiasts Ashiqul Islam Ayon, Mid Restaurant has been a beacon of exceptional
        dining
        since 2004. With a vision to blend tradition with innovation, we embarked on a mission to create a space where
        every dish tells a story.
        <br><br>
        Community and Sustainability:
        <br>
        Beyond providing delectable meals, we are committed to our community and the environment. We strive to minimize
        our ecological footprint by sourcing responsibly and engaging in practices that support sustainability.
    </p>
</div>
{% endblock %}